.margin-top-negative-5 {
    margin-top: -5px;
}

.margin-top-negative-10 {
    margin-top: -10px;
}

.margin-top-negative-15 {
    margin-top: -15px;
}

.margin-top-negative-20 {
    margin-top: -20px;
}